@media screen and (max-width: 450px) {
  #images img {
    text-align: center;
    margin: 0 auto; }

  #images img {
    margin-left: -2em; }

  .thing-container {
    width: 19em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
    float: left; } }
@media screen and (min-width: 440px) and (max-width: 750px) {
  #images img {
    margin-left: 5em; }

  #things {
    margin-left: 5em; }

  #images img {
    margin-left: 8em; }

  .thing-container {
    width: 14em;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 8em;
    float: left; } }
@media screen and (min-width: 750px) {
  #images img {
    margin-left: 7em; }

  #things {
    margin-left: 10em; }

  .thing-container {
    width: 16em;
    margin-top: 2em;
    margin-right: 2.5em;
    float: left; } }
body {
  padding: 12px;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("/images/background.jpg");
  background-repeat: repeat; }

#images img {
  width: 16em;
  height: auto;
}

.thing-name {
  font-family: serif;
  text-align: center; }

.thing-container a img {
  margin-left: -5em;
  width: 20em;
  height: 20em;
  object-fit: cover;
  border: 6px white solid;
  box-shadow: 2px 2px 2px 2px darkgray; }

#title {
  text-align: center; }

#back {
  color: black;
    margin-bottom:8em;
  margin-left: 53em;
  font-size: 1.1em;

    font-weight: bold;
  padding-right: 1em; }

.description {
  padding-top: 2em;
  padding-right: 1em;
  padding-left: 1em; }
